.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mainBox {
  width: 50em;
  height: 30em;
  background-color: white;
  display: flex;
  border: 2px solid blue;
  flex-direction: column;
}

.itemsWrapper {
  display: flex;
  height: 60%;
  /* padding: 0.5em; */
  background-color: blanchedalmond;
  flex-direction: column;
  overflow-y: scroll;
}

.itemsWrapper > table {
  width: 100%;
  border-collapse: collapse;
}

.itemsWrapper td {
  padding: 1em;
}
.itemsWrapper th {
  text-align: left;
  padding: 1em;
  background-color: rgb(236, 206, 160);
}
.itemsWrapper > table > tbody > tr:nth-child(even) {
  background-color: rgb(246, 224, 190);
}


.entryWrapper {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  padding: 1em;
  border: 1px solid green;
  background-color: aqua;
  flex: 1;
  gap: 2em;
  /* justify-content:space-between; */
}


.namesSelectorWrapper {
  display: flex;
  max-height: 7em;
  width: 8em;
  background-color: beige;
  flex-direction: column;
  overflow-y: scroll;
  border: 1px solid black;
}

.namesSelectorWrapper > form {
  display: flex;
}
.namesSelectorWrapper > form > input {
  display: flex;
}

.nameItem {
  padding: 0.2em;
  border: 1px inset blue;
  justify-content: space-between;
  display: flex;
}

.itemAddForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: beige;
  /* gap: 10px; */
}
.itemAddForm > div {
  display: flex;
  flex-direction: row;
}

.itemAddForm > div > div {
  height: 100%;
  border: 1px solid blue;
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  padding: 0.2em 0.5em;
}
.itemAddForm > input {
  width: auto;
  padding: 0.5em 1em;
}

.terminalWrapper {
  width: 100%;
  display: flex;
  padding: 0.5em;
}
.terminalBox {
  width: 100%;
}
.terminalBox form {
  background-color: red;
}
.terminalBox form input {
  width: 100%;
  height: 3em;
}