.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #00807F no-repeat fixed center;
}

.mainBox {
  display: flex;
  flex-direction: column;
  transition: 1s ease;
  /* width: 100%; */
}

.itemsWrapper {
  height: 15em;
  overflow-y: scroll;
}

.itemsWrapper > table {
  width: 100%;
}

.itemsWrapper td {
  padding: 0.5em;
}

.itemsWrapper th {
  text-align: left;
  padding: 0.5em;
}
.itemsWrapper > table > tbody > tr:nth-child(even) {
  background-color: #dfdfdf; /* button face */
}


.entryWrapper {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  flex: 1;
  gap: 2em;
  overflow-x: scroll;
  /* justify-content:space-between; */
}

@media only screen and (max-width: 600px) {
  .entryWrapper {
    flex-direction: column-reverse;
    justify-content: start;
  }
}



.namesSelectorWrapper {
  display: flex;
  height: fit-content;
  /* width: 8em; */
  /* background-color: beige; */
  flex-direction: column;
  overflow-y: scroll;
  /* flex: 1; */
  /* border: 1px solid black; */
}

.namesSelectorWrapper > form {
  display: flex;
}

.nameItem {
  padding: 0.2em;
  /* border: 1px inset blue; */
  justify-content: space-between;
  display: flex;
}
.itemAddForm > form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* flex: 1; */
}
.itemAddForm > form > div {
  display: flex;
  flex-direction: row;
}

.itemAddForm > form > div > div {
  height: 100%;
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  padding: 0.2em 0.5em;
}

.itemAddForm input {
  flex: 1;
}

.terminalWrapper {
  width: 100%;
  display: flex;
  padding: 0.5em;
}
.terminalBox {
  width: 100%;
}

.terminalBox form input {
  width: 100%;
  /* height: 3em; */
}
.resultsWrapper {
    padding: 0.5em
}
.resultsWrapper > div {
  display: flex;
  gap: 10px;
}
.resultsWrapper > div > div {
  border: 3px inset black;
  padding: 2px;
}